
<div class="row">
  <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
       [percent]="85"
       [radius]="80"
       [imageSrc]="'../../../assets/iconos/html.png'"
       [showImage]="true"
       [imageHeight]="90"
       [imageWidth]="70"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
       [showUnits]="false"
      ></circle-progress>
      </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="80"
         [radius]="80"
         [imageSrc]="'../../../assets/iconos/CSS.png'"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="600"
         [showUnits]="false"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
             [percent]="65"
             [radius]="80"
             [imageSrc]="'../../../assets/iconos/js.png'"
             [showImage]="true"
             [imageHeight]="70"
             [imageWidth]="70"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
             [animationDuration]="600"
             [showUnits]="false"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="75"
                 [radius]="80"
                 [imageSrc]="'../../../assets/iconos/git.png'"
                 [showImage]="true"
                 [imageHeight]="70"
                 [imageWidth]="70"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="16"
                 [innerStrokeWidth]="8"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="600"
                 [showUnits]="false"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                     [percent]="100"
                     [radius]="80"
                     [imageSrc]="'../../../assets/iconos/grupal.png'"
                     [showImage]="true"
                     [imageHeight]="70"
                     [imageWidth]="70"
                     [showSubtitle]="false"
                     [outerStrokeWidth]="16"
                     [innerStrokeWidth]="8"
                     [outerStrokeColor]="'#78C000'"
                     [innerStrokeColor]="'#C7E596'"
                     [animation]="true"
                     [animationDuration]="600"
                     [showUnits]="false"
                    ></circle-progress>
                    </div>

                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                         [percent]="60"
                         [radius]="80"
                         [imageSrc]="'../../../assets/iconos/eng.png'"
                         [showImage]="true"
                         [imageHeight]="70"
                         [imageWidth]="70"
                         [showSubtitle]="false"
                         [outerStrokeWidth]="16"
                         [innerStrokeWidth]="8"
                         [outerStrokeColor]="'#78C000'"
                         [innerStrokeColor]="'#C7E596'"
                         [animation]="true"
                         [animationDuration]="600"
                         [showUnits]="false"
                        ></circle-progress>
                        </div>
   



</div>