<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpg" alt="foto-perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Mateo Joel Lopez</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius, at ad, recusandae rerum velit eaque earum consectetur vel ab dignissimos, dolorem voluptate? Necessitatibus, exercitationem dolores itaque quisquam nisi accusamus?</p>
        </span>
    </div>
</div>