<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae velit quidem voluptate quisquam iste, dolor temporibus quam consectetur nostrum in odio necessitatibus ut, eligendi ullam reiciendis veniam iusto? Libero, temporibus!</p>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolorem illum maiores. Dolorum molestias, assumenda dicta saepe accusamus eius dolor reprehenderit voluptates quasi dignissimos enim eaque, consequuntur perferendis qui eum?</p>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus illum a odio architecto molestiae corrupti ut possimus officia reiciendis quae, molestias rerum inventore consequuntur minus qui quia deleniti voluptatem sit!
        </ul>
    </div>
</div>
